{% extends 'fir_irma/standalone/standalone_base.html' %}
{% load staticfiles %}
{% load i18n %}

    {% block content %}
    <div class="container" id="top">
      <div id="header" class="row">
        <div class="col-md-6">
            <a href="/"><img alt="IRMA" src="{% static 'irma/resources/logo.jpg' %}" /></a>
        </div>
        <div class="col-md-6">
            <h2>Incident Response<br />Malware Analysis</h2>
        </div>
      </div>

      <ul class="list-inline status" ng-if="!state.settings.maintenance">
        <li class="{$(state.location=='selection')?'active':''$}"><a href="/selection">{%  trans "Selection" %}</a></li>
        <li>&gt;</li>
        <li class="{$(state.location=='upload')?'active':''$}">{%  trans "Upload" %}</li>
        <li>&gt;</li>
        <li class="{$(state.location=='scan')?'active':''$}">{%  trans "Scan" %}</li>
        <li>|</li>
        <li class="{$(state.location=='search')?'active':''$}"><a href="/search">{%  trans "Search" %}</a></li>
      </ul>

      <div class="spinner main" ng-if="state.settings.loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div ng-view ng-if="!state.settings.loading"></div>

    </div>

     <alerts></alerts>
    {%  endblock %}

    {% block custom_js %}
    <script src="{% static 'irma/scripts/dependencies.js' %}"></script>
    <script src="{% static 'irma/scripts/irma.js' %}"></script>
    <script src="{% static 'irma/scripts/combined.js' %}"></script>
    {%  endblock %}

