{% load i18n %}
<div id="search">
    <div class="row">
        <form class="form-inline" ng-submit="vm.tableParams.reload()" role="form">
            <div class="form-group">
                <select class="form-control" id="type" ng-model="vm.searchedType">
                    <option value="name">{% trans 'By name' %}</option>
                    <option value="hash">{% trans 'By hash' %}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" ng-model="vm.searchedStr" placeholder="{% trans 'Type your search here' %}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" ng-disabled="!vm.searchedStr">{% trans 'Go!' %}</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="row" id="results">
        <table ng-table="vm.tableParams" class="table table-bordered">
            <tr ng-repeat="item in $data">
                <td data-title="'{% trans 'Name' %}'"><a href="{% url "fir_irma:ui:index" sub="" %}scan/{$item.scan_id$}/file/{$item.result_id$}">{$item.name$}</a></td>
                <td data-title="'{% trans 'Last seen' %}'">{$item.file_infos.timestamp_last_scan | amDateFormat:'lll'$}</td>
                <td data-title="'{% trans 'SHA256' %}'">{$item.file_infos.sha256$}</td>
                <td data-title="'{% trans 'Size' %}'">{$item.file_infos.size$}</td>
            </tr>
        </table>
    </div>
</div>
